<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- BoardDao -->
<mapper namespace="kr.co.spring.board.dao.BoardDao"> 

	<select id="selectBoardCount" parameterType="map" resultType="int">
		select count(*) as count
		from tb_board
		where 
			bo_del_yn = 'N'
			and bo_type = #{bo_type}
			 <if test="searchWord != null and searchWord != ''">
				<if test="searchType == '01'"> <!-- 제목 -->
					AND bo_title LIKE concat('%',#{searchWord},'%')
				</if>
				<if test="searchType == '02'"> <!-- 내용 -->
					AND bo_content LIKE concat('%',#{searchWord},'%')
				</if>
				<if test="searchType == '03'"> <!-- 제목 + 내용 -->
					AND bo_title LIKE concat('%',#{searchWord},'%') 
					or bo_content LIKE concat('%', #{searchWord} , '%')				
				</if>
				<if test="searchType == '04'"> <!-- 작성자 -->
							AND bo_writer_name = #{searchWord}
				</if>
			</if>
</select>
	<select id="selectBoardList" parameterType="map" resultType="boardVo">
		SELECT A.*
		FROM( SELECT @ROWNUM := @ROWNUM + 1 AS ROWNUM, TB.*
			  FROM ( SELECT
				   		 bo_seq_no  
					 	 ,bo_type     
					 	 ,bo_title    
						 ,bo_content  
						 ,bo_writer   
						 ,bo_writer_name
						 ,bo_hit_cnt  
						 ,bo_open_yn
						 ,bo_del_yn  
						 ,reg_date  
						 ,reg_user   
						 ,upd_date   
						 ,upd_user
					 FROM 
					 	tb_board     
			  		 WHERE 
				  		 1=1 
				  		 <if test="searchWord != null and searchWord != ''">
							<if test="searchType == '01'"> <!-- 제목 -->
								AND bo_title LIKE concat('%',#{searchWord},'%')
							</if>
							<if test="searchType == '02'"> <!-- 내용 -->
								AND bo_content LIKE concat('%',#{searchWord},'%')
							</if>
							<if test="searchType == '03'"> <!-- 제목 + 내용 -->
								AND bo_title LIKE concat('%',#{searchWord},'%') 
								or bo_content LIKE concat('%', #{searchWord} , '%')				
							</if>
							<if test="searchType == '04'"> <!-- 작성자 -->
								AND bo_writer_name = #{searchWord}
							</if>
						</if>
				  		 and bo_del_yn = 'N'
				  		 and bo_type = #{bo_type}
			  		 ORDER BY bo_seq_no DESC)TB,
			  		 (SELECT @ROWNUM := 0) R
					) A WHERE A.ROWNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="selectBoard" parameterType="int" resultType="boardVo">
		SELECT 
		 bo_seq_no 
		,bo_type 
		,bo_title 
		,bo_content 
		,bo_writer
		,bo_writer_name 
		,bo_hit_cnt
		,bo_open_yn 
		,bo_del_yn
		,reg_date 
		,reg_user 
		,upd_date 
		,upd_user
		FROM 
		tb_board
		WHERE BO_SEQ_NO = #{bo_seq_no}
	</select>
	
	<update id="updateHitCnt" parameterType="int">
		UPDATE tb_board SET bo_hit_cnt = bo_hit_cnt + 1 
		WHERE bo_seq_no = #{bo_seq_no)
	</update>
	
</mapper>


