<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MemberDao -->
<mapper namespace="kr.co.spring.member.dao.MemberDao"> 
	<select id="selectMemberTest" resultType="memberVo">
		SELECT * FROM TB_MEMBER
	</select>
</mapper>